PHP>=8.2
Laravel>=12.0
laravel/sanctum>=4.0
laravel/tinker>=2.10.1
laravel/ui>=4.6
fakerphp/faker>=1.23
laravel/pail>=1.2.2
laravel/pint>=1.13
laravel/sail>=1.41
mockery/mockery>=1.6
nunomaduro/collision>=8.6
phpunit/phpunit>=11.5.3 